@tailwind base;
@tailwind components;
@tailwind utilities;

.htmx-indicator {
  display: none;
}

.htmx-request .htmx-indicator {
  display: flex;
}

.htmx-request.htmx-indicator {
  display: flex;
}

.text-input {
  @apply w-full rounded-lg border-0 bg-orange-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-0 focus-visible:outline-orange-300;
}

.file-input {
  @apply w-full rounded-lg text-gray-600 file:mr-4 file:rounded-lg file:border-0 file:bg-orange-200 file:px-4 file:py-2 hover:file:bg-orange-300 focus:outline-2 focus:outline-orange-300;
}

.button {
  @apply w-full rounded-lg bg-orange-200 p-2 hover:bg-orange-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-orange-300;
}

.link {
  @apply inline-block cursor-pointer underline underline-offset-[6px] hover:text-orange-600 focus:outline-none focus:text-orange-600;
}

.link-button {
  @apply block w-full rounded-lg bg-orange-200 p-2 text-center hover:bg-orange-300 focus:outline focus:outline-2 focus:outline-orange-300;
}

.modal-background {
  @apply fixed left-0 top-0 h-screen w-full items-center justify-center bg-black bg-opacity-50 px-4;
}

.modal-content {
  @apply w-full rounded-lg flex flex-col bg-orange-100 p-4 space-y-4 sm:max-w-md sm:mx-auto;
}
