<!doctype html>
<html lang="uk" class="h-full bg-orange-50">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/favicon.ico" rel="icon" />
    <link href="/public/tailwind.css" rel="stylesheet" />
    <title>Шафа - 404</title>
  </head>
  <body class="h-full">
    <main class="h-full">
      <div class="flex h-full items-center justify-center">
        <h1 class="text-9xl font-semibold">404</h1>
      </div>
    </main>
  </body>
</html>
