<!doctype html>
<html lang="uk" class="h-full bg-orange-50">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/favicon.ico" rel="icon" />
    <link href="/public/tailwind.css" rel="stylesheet" />
    <title>Шафа - Вхід</title>
  </head>
  <body class="h-full">
    <main class="h-full">
      <section class="flex h-full items-center px-4">
        <form
          class="flex w-full flex-col items-center space-y-4 rounded-lg bg-orange-100 px-4 py-4 shadow sm:mx-auto sm:max-w-md">
          <input
            type="text"
            name="nickname"
            class="w-full rounded-lg border-0 bg-orange-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-0 focus-visible:outline-orange-300"
            placeholder="Нікнейм" />
          <input
            type="password"
            name="password"
            class="w-full rounded-lg border-0 bg-orange-200 focus:ring-0 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-0 focus-visible:outline-orange-300"
            placeholder="Пароль" />
          <button
            type="submit"
            class="w-full rounded-lg bg-orange-200 px-2 py-2 hover:bg-orange-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-orange-300"
            hx-post="/api/login"
            hx-swap="none">
            Увійти
          </button>
          <button
            type="submit"
            class="w-full rounded-lg bg-orange-200 px-2 py-2 hover:bg-orange-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-orange-300"
            hx-post="/api/signup"
            hx-swap="none">
            Зареєструватись
          </button>
        </form>
      </section>
    </main>
    <script src="/public/htmx.min.js"></script>
  </body>
</html>
