<!doctype html>
<html lang="uk" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/favicon.ico" rel="icon" />
    <link href="/public/tailwind.css" rel="stylesheet" />
    <title>Шафа - Вхід</title>
  </head>
  <body class="h-full">
    <main>
      <div class="p-4">
        <form class="rounded-lg px-6 py-3 shadow sm:mx-auto sm:max-w-sm">
          <div class="mb-3">
            <label for="nickname" class="mb-2 block sm:text-sm">Нікнейм</label>
            <input
              id="nickname"
              name="nickname"
              class="w-full rounded-lg border border-orange-200 focus:border-orange-300 focus:outline-none focus:ring-orange-300 sm:text-sm"
              required />
          </div>
          <div class="mb-3">
            <label for="password" class="mb-2 block sm:text-sm">Пароль</label>
            <input
              type="password"
              id="password"
              name="password"
              class="w-full rounded-lg border border-orange-200 focus:border-orange-300 focus:outline-none focus:ring-orange-300 sm:text-sm"
              required />
          </div>
          <div class="flex justify-between">
            <button
              type="submit"
              class="w-40 rounded-lg bg-orange-400 px-5 py-2 text-white hover:bg-orange-500 focus:outline-none focus:ring-2 focus:ring-orange-300 sm:text-sm"
              hx-post="/api/login"
              hx-swap="none">
              Увійти
            </button>
            <button
              type="submit"
              class="w-40 rounded-lg bg-orange-400 px-5 py-2 text-white hover:bg-orange-500 focus:outline-none focus:ring-2 focus:ring-orange-300 sm:text-sm"
              hx-post="/api/signup"
              hx-swap="none">
              Зареєструватись
            </button>
          </div>
        </form>
      </div>
    </main>
    <script src="/public/htmx.min.js"></script>
  </body>
</html>
