<!doctype html>
<html lang="uk" class="h-full bg-orange-50">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/favicon.ico" rel="icon" />
    <link href="/public/tailwind.css" rel="stylesheet" />
    <title>Шафа - Предмети</title>
  </head>
  <body class="h-full">
    <header class="bg-orange-100">
      <nav class="flex justify-end space-x-2 py-2 pr-2">
        <a
          href="/add-item"
          class="rounded-lg bg-orange-200 p-2 hover:bg-orange-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-orange-300">
          Додати
        </a>
        <a
          hx-post="/api/logout"
          class="rounded-lg bg-orange-200 p-2 hover:bg-orange-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-orange-300">
          Вийти
        </a>
      </nav>
    </header>
    <main>
      <div
        class="grid grid-cols-1 gap-y-4 p-4 sm:grid-cols-2 sm:gap-x-4 lg:grid-cols-4">
        <div hx-trigger="load" hx-get="/api/items" hx-swap="outerHTML" />
      </div>
    </main>
    <script src="/public/htmx.min.js"></script>
  </body>
</html>
