<!doctype html>
<html lang="uk" class="bg-orange-50">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/favicon.ico" rel="icon" />
    <link href="/public/tailwind.css" rel="stylesheet" />
    <title>Шафа - Предмети</title>
  </head>
  <body>
    <header class="bg-orange-100">
      <nav class="flex justify-end space-x-2 p-2">
        <a
          class="cursor-pointer rounded-lg bg-orange-200 p-2 hover:bg-orange-300"
          hx-on:click="document.querySelector('.modal').classList.replace('hidden', 'flex')">
          Додати
        </a>
        <a
          class="cursor-pointer rounded-lg bg-orange-200 p-2 hover:bg-orange-300"
          hx-post="/api/logout">
          Вийти
        </a>
      </nav>
    </header>
    <main>
      <section
        class="grid grid-cols-1 gap-y-4 p-4 sm:grid-cols-2 sm:gap-x-4 lg:grid-cols-4">
        <div hx-get="/api/items" hx-swap="outerHTML" hx-trigger="load" />
      </section>
    </main>
    <div
      class="modal fixed left-0 top-0 hidden h-screen w-full items-center justify-center bg-black bg-opacity-50 px-4">
      <form
        class="flex w-full flex-col items-center space-y-4 rounded-lg bg-orange-100 px-4 py-4 shadow sm:max-w-md">
        <input
          type="text"
          name="name"
          class="w-full rounded-lg border-0 bg-orange-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-0 focus-visible:outline-orange-300"
          placeholder="Назва предмету"
          required />
        <input
          type="file"
          name="image"
          accept="image/*"
          class="w-full rounded-lg bg-orange-200 px-2 py-1.5 file:rounded-lg file:border-0 file:bg-transparent file:px-2 file:py-1 file:outline file:outline-2 file:outline-offset-0 file:outline-orange-300 hover:cursor-pointer file:hover:bg-orange-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-0 focus-visible:outline-orange-300" />
        <select
          name="location"
          class="w-full rounded-lg border-0 bg-orange-200 focus:outline-2 focus:outline-offset-0 focus:outline-orange-300 focus:ring-0"
          hx-get="/api/item/locations"
          hx-params="none"
          hx-swap="innerHTML"
          hx-trigger="load"
          required></select>
        <button
          type="submit"
          class="w-full rounded-lg bg-orange-200 p-2 hover:bg-orange-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-orange-300"
          hx-post="/api/item"
          hx-encoding="multipart/form-data"
          hx-swap="none">
          Додати
        </button>
        <button
          class="w-full rounded-lg bg-orange-200 p-2 hover:bg-orange-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-orange-300"
          hx-on:click="document.querySelector('.modal').classList.replace('flex', 'hidden')">
          Закрити
        </button>
      </form>
    </div>
    <script src="/public/htmx.min.js"></script>
  </body>
</html>
